.header {
  width: 100%;
  height: 62px;
  background-color: #1a2732;
  position: fixed;
  z-index: 2;
}
.header .headera {
  display: inline-block;
  font-size: 22px;
  color: red;
  vertical-align: top;
  margin-top: 15px;
  float: left;
  padding-left: 15px;
  padding-right: 7px;
}
.header .Hsearch {
  display: inline-block;
  background-color: #fff;
  height: 30px;
  margin-top: 15px;
  border-radius: 3px;
  float: left;
}
.header .Hsearch .searchpic {
  background-position: -886px -54px;
}
.header .Hsearch .searchValue {
  vertical-align: top;
  margin-top: 5px;
  width: 130px;
  height: 20px;
}
.header .Hsearch .searchB {
  display: inline-block;
  width: 30px;
  border-radius: 3px;
  background-color: red;
  line-height: 31px;
  vertical-align: top;
}
.header .Hright2 {
  display: inline-block;
  float: right;
  margin-top: 15px;
  padding-right: 15px;
}
.header .Hright2 img {
  display: inline-block;
  border-radius: 50%;
}
.header .Hright2 span {
  color: #bdbdbd;
  font-size: 13px;
  vertical-align: -webkit-baseline-middle;
}
.header .Hright2 .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: -webkit-baseline-middle;
  border-top: 4px solid #007aff;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-bottom: 0 dotted;
  content: "";
}
.header .Hright1 {
  display: inline-block;
  float: right;
  margin-top: 15px;
  font: 20px "宋体";
  margin-right: 10px;
}
.header .Hright1 .itemspic {
  background-position: -515px -90px;
  margin-right: 5px;
}
.header .Hright1 .mailpic {
  background-position: -95px -12px;
  margin-right: 5px;
}
.header .Hright1 .blingpic {
  background-position: -218px -12px;
  margin-right: 5px;
}
