a {
  text-decoration: none;
  color: inherit;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dd {
  margin: 0;
}
input {
  padding: 0;
  border: 0;
  outline: none;
}
em {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../../../img/line-icon.png") no-repeat;
  background-size: 1013px 178px;
}
img {
  vertical-align: top;
}
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.clear:after {
  content: '';
  clear: both;
  display: block;
}
.UserContent {
  display: block;
  background-color: #eeeeee;
  margin-left: 194px;
  padding-top: 1px;
  font-size: 0;
}
.UserContent .main-content {
  margin-top: 62px;
  width: 100%;
  padding-top: 15px;
  font-size: 12px;
}
.UserContent .main-content h3 {
  margin: 12px 0 20px;
  padding-bottom: 9px;
  padding: 0 16px;
  color: #c8cbcf;
}
.UserContent .main-content h3 .DAS {
  font-size: 20px;
  line-height: 30px;
}
.UserContent .main-content ul {
  margin: 0 16px 20px 16px;
  height: 35px;
  background-color: #fff;
  font-size: 14px;
}
.UserContent .main-content ul .span {
  display: inline-block;
  color: #797979;
  line-height: 35px;
  padding-left: 15px;
}
.UserContent .main-content ul .span .ulSpace {
  margin-left: 8px;
  margin-right: 5px;
}
.UserContent .main-content nav {
  padding: 10px 16px ;
}
.UserContent .main-content nav .findstyle {
  font-size: 16px;
  margin-left: 15px;
  display: inline-block;
}
.UserContent .main-content .tvchart {
  height: 800px;
  padding: 16px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}
.UserContent .main-content .tvchart .tuopuChartAll {
  grid-row-start: 1;
  grid-row-end: 4;
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  color: blue;
  height: 792px;
}
.UserContent .main-content .tvchart .tuopuChartAll #tuopuChart {
  width: 100%;
  height: 100%;
}
.UserContent .main-content .tvchart .chart {
  padding: 10px;
  border: 1px solid #ddd;
  color: blue;
  position: relative;
}
.UserContent .main-content .tvchart .chart #TVchart1 {
  width: 98%;
  height: 120%;
  position: absolute;
  top: -10px;
}
.UserContent .main-content .tvchart .chart #TVchart2 {
  width: 98%;
  height: 100%;
  position: absolute;
  top: -10px;
}
.UserContent .main-content .tvchart .chart #TVchart3 {
  width: 98%;
  height: 110%;
  position: absolute;
  top: -10px;
}
